---
layout: default
title: About
navigation_weight: 3
---

<div class="container">
	<div class="blog-posts">
		<div class="blog-post spacing">
			<h1>Academic vitae</h1>
			<p>
				<br>
				My name is Charalambos Rossides but most people call me Harry.<br><br>
				I graduated from the Electrical and Computer Engineering School
				at the National Technical University of Athens (<a href="https://www.ece.ntua.gr/en">ECE-NTUA</a>) in 2014.
				I then received the MSc degree in Systems and Control from the
				University of Twente (<a href="https://www.utwente.nl/en/education/master/programmes/systems-control/">SC-UT</a>), The Netherlands, in 2016. In the meantime
				I worked at <a href="https://www.demcon.nl/en/">DEMCON</a> advanced
				mechatronics, Enschede, The Netherlands,
				supporting the development of medical devices.<br><br>
				Currently being a <a href="https://www.southampton.ac.uk/engineering/postgraduate/research_students/cr1v16.page?">PhD
				candidate</a> at the bio-engineering group, Faculty of Engineering and
				Physical sciences, University of Southampton, UK, I am developing
				biomedical imaging and analysis tools for the study of early stages
				of colorectal cancer.
				My academic interests include (biomedical) <strong>signal processing</strong> and analysis,
				X-ray micro-computed tomographic <strong>imaging</strong>, computer engineering, <strong>systems and control</strong> theory.
			</p>
			<blockquote class="quote-card blue-card">
				<p>
					Harry has shown efficiency and competence in achieving <strong>good results</strong> in a <strong>short time frame</strong>. He is a very clever student, who can easily capture new mathematical concepts and computer science techniques and can implement them efficiently.
				</p>
				<cite>
					- Dr Costas Tzafestas, ECE, NTUA
				</cite>
			</blockquote>
			<blockquote class="quote-card blue-card">
				<p>
					Harry has by far out-performed every single student I have ever had in terms of being <strong>quick to catch up with the literature</strong>, thoroughly understand it, formulate a novel contribution, and carry it out. He also <strong>enjoys challenging mainstream thinking</strong> [...]
				</p>
				<cite>
					- Dr Stasinos Konstantopoulos, RoboSkel, NCSR 'Demokritos'
				</cite>
			</blockquote>
			<blockquote class="quote-card blue-card">
				<p>
					Harry mastered the problem by an <strong>outstanding analytic approach</strong> and proposed various methods to improve both the model and the measuring device. His insights and proposals are <strong>useful for future developments</strong>.
				</p>
				<cite>
					- Dr Wouter Hakvoort, DEMCON advanced mechatronics
				</cite>
			</blockquote>
			<blockquote class="quote-card blue-card">
				<p>
					Harry was always the first to encounter any assignment, finishing early and <strong>helping his colleagues</strong> to proceed. During his teaching assistant job he was <strong>supervising students</strong> in tutorials, <strong>helping them</strong> to solve complicated dynamics problems and get a grip on the theory.
				</p>
				<cite>
					- Prof S. Stramigioli
				</cite>
			</blockquote>
		</div>

		{% for post in site.posts %}
			{% if post.category == "Interests" %}
				<div class="blog-post">
					<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
					{% if post.avatar %}
						<div class="columns spacing">
							<div class="column one_third">
								<a href="{{ post.url }}"><img class="rounded-img" src={{ post.avatar }} width="200"></a>
							</div>
							<div class="column two_thirds" style="text-align:left">
								<div>{{ post.excerpt | truncate: 200 }}</div>
								{% if post.skills %}
									<div>
										{% for s in post.skills %}
											{% capture askill %}{{ s }}{% endcapture %}
											{% include skill_badge.html skill=askill %}
										{% endfor %}
									</div>
								{% endif %}
							</div>
						</div>
					{% else %}
						<div>{{ post.excerpt | truncate: 200 }}</div>
						{% if post.skills %}
							<div>
								{% for s in post.skills %}
									{% capture askill %}{{ s }}{% endcapture %}
									{% include skill_badge.html skill=askill %}
								{% endfor %}
							</div>
						{% endif %}
					{% endif %}
				</div>
				{% endif %}
		{% endfor %}
	</div>
</div>
