---
layout: default
title: About
navigation_weight: 3
---

<div class="container">
	<div class="blog-posts">
		<div class="blog-post spacing">
			<h1>Academic vitae</h1>
			<p>
				My name is Charalambos Rossides but most people call me Harry.<br><br>
				I graduated from the Electrical and Computer Engineering School
				at the National Technical University of Athens (<a href="https://www.ece.ntua.gr/en">ECE-NTUA</a>) in 2014.
				I then received the MSc degree in Systems and Control from the
				University of Twente (<a href="https://www.utwente.nl/en/education/master/programmes/systems-control/">SC-UT</a>), The Netherlands, in 2016. In the meantime
				I worked at <a href="https://www.demcon.nl/en/">DEMCON</a> advanced
				mechatronics, Enschede, The Netherlands,
				supporting the development of medical devices.<br><br>
				Currently being a <a href="https://www.southampton.ac.uk/engineering/postgraduate/research_students/cr1v16.page?">PhD
				candidate</a> at the bio-engineering group, Faculty of Engineering and
				Physical sciences, University of Southampton, UK, I am developing
				biomedical imaging and analysis tools for the study of early stages
				of colorectal cancer.
				My academic interests include (biomedical) signal processing and analysis,
				X-ray micro-computed tomographic imaging, computer engineering, systems and control theory.
			</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="blog-posts">
		{% for post in site.posts %}
			{% if post.category == "Interests" %}
				<div class="blog-post spacing">
					<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
					{% if post.avatar %}
						<div class="columns spacing">
							<div class="column one_third">
								<a href="{{ post.url }}"><img class="rounded-img" src={{ post.avatar }} width="200"></a>
							</div>
							<div class="column two_thirds" style="text-align:left">
								{{ post.excerpt | truncate: 200 }}
								{% if post.skills %}
									{% for skill in post.skills %}
										<span class="badge badge-secondary">{{ skill }}</span>
									{% endfor %}
								{% endif %}
							</div>
						</div>
					{% else %}
						{{ post.excerpt | truncate: 200 }}
						{% if post.skills %}
							{% for skill in post.skills %}
								<span class="badge badge-secondary">{{ skill }}</span>
							{% endfor %}
						{% endif %}
					{% endif %}
				</div>
				{% endif %}
		{% endfor %}
	</div>
</div>
