---
layout: default
title: About
navigation_weight: 3
---

<div class="container">
	<div class="row spacing">
		<div class="blog-post">
			<h1>Academic vitae</h1>
			<p>
				<br>
				My name is Charalambos Rossides but most people call me Harry.<br><br>
				I graduated from the Electrical and Computer Engineering School
				at the National Technical University of Athens (<a href="https://www.ece.ntua.gr/en">ECE-NTUA</a>) in 2014 with the degree of Master of Engineering (MEng).
				I then received the Master of Sciences (MSc) degree in Systems and Control from the
				University of Twente (<a href="https://www.utwente.nl/en/education/master/programmes/systems-control/">SC-UT</a>), The Netherlands, in 2016. In the meantime
				I worked at <a href="https://www.demcon.nl/en/">DEMCON</a> advanced
				mechatronics, Enschede, The Netherlands,
				supporting the development of medical devices.<br><br>
				In July 2021 I graduated from the University of Southampton (UoS), UK as a Doctor of Philosophy (PhD) in Engineering and the Environment.
				My thesis titled "Development of 3D X-ray phase-contrast imaging and analysis tools for tubular and branching structures with applications in colorectal cancer research" focused on the morphological and topological quantification of budding crypts (tubular colonic glands that begin to branch during the early stages of colorectal cancer). The project gave birth to a set of methods for X-ray imaging, digital unrolling of the colon (<a href="https://www.nature.com/articles/s41598-021-93184-x">method</a>, <a href="https://imagej.github.io/plugins/3d-cyclorama">software</a>), and 3D quantification of the budding structures.<br><br>
				During my PhD studies, I also joined the $\mu$-<a href="https://www.southampton.ac.uk/muvis/">VIS X-ray Imaging Centre</a>, initially as a research assistant, and subsequently as a senior research assistant, developing advanced X-ray imaging methods. Commercially-sensitive rojects I worked on, included the development of tilted-angle laminography (<a href="{{ site.baseurl }}{% link _posts/projects/2020-08-07-Xray-Imaging.md %}">Rolls Royce</a>) and super-resolution X-ray imaging. Other, research-oriented projects involved scatter-reduction and X-ray metrology methods, parts of which provided useful insights that were published as peer-reviewed <a href="https://iopscience.iop.org/article/10.1088/1681-7575/ac7926/meta">research</a>.<br><br>
				Since January 2021 I joined <a href="https://www.radiidevices.com/">Radii devices</a>, a UoS spin-out that aims to revolutionise the way that prosthetic medical devices are designed. Currently working as the technical lead, I am responsible for major technical decisions and the overall design of our platform. I helped the company to build a cutting-edge technology stack and lay the groundwork for an aggressive upcoming growth phase. Key achievements include winning an Innovate UK Biomedical Catalyst <a href="https://www.linkedin.com/posts/radii-devices_radii-devices-wins-funding-to-undertake-milestone-activity-6947464747629875200-go9A?utm_source=linkedin_share&utm_medium=member_desktop_web">award</a>, which enabled us to embark on multi-centre clinical trials of our software.
			</p>
		</div>
		<div class="blog-post">
			<blockquote class="quote-card blue-card">
				<p>
					Harry has shown efficiency and competence in achieving <strong>good results</strong> in a <strong>short time frame</strong>. He is a very clever student, who can easily capture new mathematical concepts and computer science techniques and can implement them efficiently.
				</p>
				<cite>
					- Dr Costas Tzafestas, ECE, NTUA
				</cite>
			</blockquote>
			<blockquote class="quote-card blue-card">
				<p>
					Harry has by far out-performed every single student I have ever had in terms of being <strong>quick to catch up with the literature</strong>, thoroughly understand it, formulate a novel contribution, and carry it out. He also <strong>enjoys challenging mainstream thinking</strong> [...]
				</p>
				<cite>
					- Dr Stasinos Konstantopoulos, RoboSkel, NCSR 'Demokritos'
				</cite>
			</blockquote>
			<blockquote class="quote-card blue-card">
				<p>
					Harry mastered the problem by an <strong>outstanding analytic approach</strong> and proposed various methods to improve both the model and the measuring device. His insights and proposals are <strong>useful for future developments</strong>.
				</p>
				<cite>
					- Dr Wouter Hakvoort, DEMCON advanced mechatronics
				</cite>
			</blockquote>
			<blockquote class="quote-card blue-card">
				<p>
					Harry was always the first to encounter any assignment, finishing early and <strong>helping his colleagues</strong> to proceed. During his teaching assistant job he was <strong>supervising students</strong> in tutorials, <strong>helping them</strong> to solve complicated dynamics problems and get a grip on the theory.
				</p>
				<cite>
					- Prof S. Stramigioli, RAM, uTwente
				</cite>
			</blockquote>
		</div>

		<div class="blog-post">
			{% for post in site.posts %}
				{% if post.category == "Interests" %}
						{% include ico_text.html post=post %}
					{% endif %}
			{% endfor %}

		</div>
	</div>
</div>
