---
layout: default
title: Home
navigation_weight: 1
---

<section class="hero">
	<div class="small-container">
		<p class="quote">"It's not that I'm so smart, it's just that I stay with problems longer."<br>- Albert Einstein</p>
	</div>
</section>

<div class="container">
	<div class="columns">
		<nav class="main-nav">
			<ul>
				<li>
					<a href="documents/CV_Charalambos_Rossides.pdf">
						<img class="ico-nav" src="/icons/cv.svg" alt="Charalambos Rossides CV">
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/charalambos-rossides-31b808124/">
						<img class="ico-nav" src="/icons/linkedin_black_circle.svg" alt="Charalambos Rossides LinkedIn">
					</a>
				</li>
				<li>
					<a href="https://orcid.org/0000-0002-7547-0256">
						<img class="ico-nav" src="/icons/ORCID_black_circle.svg" alt="Charalambos Rossides ORCID">
					</a>
				</li>
				<li>
					<a href="https://www.southampton.ac.uk/muvis/about/people.page">
						<img class="ico-nav" src="/icons/uni_black_circle.svg" alt="Charalambos Rossides muVIS X-ray imaging centre">
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="columns spacing">
		<div class="column one_third">
			<img class="rounded-img" src="/images/Charalambos_Rossides.jpg" width="200" alt="Charalambos Rossides">
		</div>
		<div class="column two_thirds" style="text-align:left">
			<p style="font-style:italic">
				I am a passionate control engineer!<br><br>
				I love solving problems in alternative ways,
				bringing together ideas from different disciplines.<br><br>
				Welcome to my home online, where I will be sharing the most interesting of such solutions and much more...
			</p>
		</div>
	</div>
	<div class="columns spacing" style="text-align:center">
			{% for post in site.posts %}
				{% if post.skills %}
					{% for s in post.skills %}
						<a class="badgeToDecorate badge-pill text-nowrap flex-wrap text-decoration-none" href="{{ post.url }}">{{ s }}</a>
						<!-- <a class="text-decoration-none" href="{{ post.url }}"><span class="badgeToDecorate badge-pill badge-secondary text-nowrap flex-wrap">{{ s }}</span></a> -->
					{% endfor %}
				{% endif %}
			{% endfor %}
		</div>
</div>
